.App {
    font-family: sans-serif;
}

body {
    padding: 40px;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: solid #999 1px;
    padding: 5px 10px;
}

input {
    font-size: 1em;
}
